<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>

<body class="background">
    <div id="accesspanel">
        <div class="inset">
            <h1 id="litheader">Dashboard</h1>
            <form method="POST">
                <div class="inputContainer">
                    <input id="inputField" type="text" name="name" placeholder="Link Name" required>
                    <input id="inputField" type="url" name="url" placeholder="Link URL" required>
                    <button class="add-btn" type="submit">Add Link</button>
                </div>
            </form>
            <h2>Your Links:</h2>
            <div class="">
                <ul>
                    {% for link in links %}
                    <li class="links">
                        {{ link.name }} - <a href="/click/{{ link._id }}" target="_blank">{{ link.url }}</a>
                        <form action="/delete_link/{{ link._id }}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="/logout">Logout</a>
        </div>
    </div>
</body>

</html>